body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #fcfcfc;
}

nav {
    height: 2em;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.179);
    background-color: #fff;
    margin: 0px;
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11111;
}

.nav-content {
    height: 100%;
    width: 45em;
    display: flex;
    flex-direction: row;
}

.nav-icon {
    max-height: 1.7em;
    padding: 0 0.25em 0 0.25em;
}

#nav-tools {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#nav-tools li {
    position: relative;
    list-style: none;
}

#logo {
    font-family: 'Cookie', cursive;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.908);
    height: fit-content;
    width: auto;
}

#logo h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

.searchbar {
    font-family: 'Quicksand', sans-serif;
    margin: auto;
    height: 2.5em;
    width: 20em;
    border-radius: 0.3em;
    border: 1px solid rgba(128, 128, 128, 0.19);
    background-color: rgba(169, 169, 169, 0.145);
    padding-left: 1rem;
    text-align: center;
}

.main-content {
    height: 100%;
    max-width: 47em;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
}

.subscribtions {
    margin-top: 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100vh;
    border: 0.1px solid rgba(0, 0, 0, 0.179);
}

.sub-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0 auto 0 auto;
    width: 100%;
    height: 2.2em;
}

.sub-card > img {
    height: 1.5em;
    width: 1.5em;
}

.sub-card > p {
    margin-left: 0.5em;
}

.posts {
    position: relative;
    margin-top: 3.5em;
    width: 70%;
    height: 100%;

    border: 3px solid rgba(255, 0, 0, 0);
}

.post-card {
    border: 1px solid rgba(203, 203, 203, 0.6);
    padding: 0.5em;
    margin: 1em 1em 0 1em;
    background-color: white;
    border-radius: 0.2em;
}

.post-card-header {
    font-size: small;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile-picture {
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.5em;
}

.post-card-footer {
    font-size: small;
    display: flex;
    flex-direction: row;
}

#post-activity-bar {
    margin-bottom: 0.5em;
    width: 100%;
    padding: 0;
}

#post-message-bar {
    width: 100%;
    height: 5em;
    margin-bottom: 0.5em;
    padding: 0;
}

.post-location {
    margin-right: 0;
    margin-left: auto;
}

.new-post-date-and-location {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

#post-location-bar {
    margin: 0;
    width: 45%;
    height: 2em;
}

#post-date-bar {
    margin: 0;
    width: 45%;
    height: 2em;
}

.new-post-buttons {
    display: flex;
    justify-content: flex-end;
}

#new-post-publish-button {
    margin-right: 0;
    margin-left: auto;
}

#new-post-cancel-button {
    background-color: #a08484;
}
.create-new-post-card {
    /*box-sizing: border-box;*/
    display: none;
    flex-direction: column;
}

.create-new-post-card.visible {
    display: block;
    transition: position 1s linear;
    border: 1px solid rgba(203, 203, 203, 0.6);
    padding: 0.5em;
    margin: 1em 1em 0 1em;
    background-color: white;
    border-radius: 0.2em;
}

.buttons {
    height: fit-content;
    width: fit-content;
    padding: 0.5em 1em;
    background-color: rgb(72, 200, 255);
    border: none;
    border-radius: 1em;
    color: #fff;
}

.buttons:hover:active {
    transform: scale(0.9);
    transition: 50ms;
}

.buttons:hover {
    transform: scale(1.1);
    transition: 100ms;
    cursor: pointer;
}
